* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #DEFCFE;
}

header {
    /* Not sure on padding size yet, will revisit */
    padding: px;
    /* Not sure on font-family yet, will revisit */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(50, 50, 93);
    color:white;
}

header nav ul li {
    /* Not sure on margin placing or px yet, will revisit*/
    display: inline-block;
    margin-left: px;
}

#About-Me,
#Work,
#Contact-Me {
    display: flex;
}

.left {
    width: 20%;
    text-align: right;
}
