* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Numans', sans-serif;
}

body {
    background-color: #DEFCFE;
}

header {
    /* Not sure on padding size yet, will revisit */
    padding: px;
    font-family: 'Numans', sans-serif;
    background-color:rgb(50, 50, 93);
    color:white;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
    margin: 10px 15px 0 0;
}

header nav ul li a {
text-decoration: none;
color: white;
}

#About-Me,
#Work,
#Contact-Me {
    display: flex;
    margin: 15px 0;
}

.background {
    display:flex;
    height: 130px;
}

.background img {
    object-fit:cover;
    height: 130px;
    width: 2000px;
}

.left {
    width: 20%;
    text-align: right;
}

.left h2 {
    margin: 0 15px 0 0;
    color: rgb(50, 50, 93);
}

.right {
    width: 80%;
    padding: 0 25px 0 25px;
    border-left: 3px solid rgb(50, 50, 93);
}

#About-Me .right p {
    color:rgb(50, 50, 93);
}

#contacts {
    display:flex;
    justify-content:space-between;
}

#contacts a {
    color: rgb(50, 50, 93);
}

.project a  {
    position: relative;
}

.project p {
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 9999;
    top: 0;
    background: rgba(255, 255, 255, 0.393);
}

.projects {
    display: flex;
}

.large article img {
    height: 300px;
    width: 300px;
    object-fit:cover;
    margin: 0px 0px
}

.projects .grid {
 display: grid;
 column-gap: 5px;
 row-gap: 5px;
 grid-template-columns: auto auto;
 margin: 0 0;
}

.projects .grid article {
    margin: 0 auto;
}

.projects .grid article img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr;
}

.projects .grid article {
    width: 90%;
}
